.form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 0.5rem;
}

.formButton {
  margin: 0.5rem 0rem;
  background-color: var(--color-blue-700);
  color: white;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  &:hover {
    background-color: var(--color-blue-600);
  }
}

.backToBlogDiv {
  margin: 1rem 0rem;
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
}

.backToBlogBtn {
  background-color: var(--color-blue-700);
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.3rem 0.8rem;
  &:hover {
    background-color: var(--color-blue-600);
  }
}
