.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.formInput {
  border: 1px solid black;
}

.formButton {
  margin: 0.5rem 0rem;
  background-color: var(--blog-colour);
  color: white;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
